.filter {
  text-align: center;
  margin: 3px;
}

.filter input {
  width: 30em;
}

.app table {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

td {
  line-height: 1.4em;
}

td:first-child {
  padding: 0 0 0 0.5em;
}

td:last-child {
  padding: 0 0.5em 0 0;
}

.numeric {
  font-variant-numeric: tabular-nums;
  text-align: right;
}

.rate .percent {
  display: inline-block;
  width: 4.5em;
}

td.trend {
  text-align: center;
}

.trend .positive { color: green; }
.trend .negative { color: red; }

.job-nodata    { background-color: #d6d8db; }
.job-permafail { background-color: #f5969b; }
.job-red       { background-color: #f5c6cb; }
.job-yellow    { background-color: #ffeeba; }
.job-green     { background-color: #c3e6cb; }

.heatmap-cell { text-align: center; width: 1em; }
.heatmap-cell-nodata { background-color: #ccc; }
.heatmap-cell-zero { background-color: #c30; }
.heatmap-cell-00 { background-color: #f96; }
.heatmap-cell-40 { background-color: #fc0; }
.heatmap-cell-60 { background-color: #9c3; }
.heatmap-cell-80 { background-color: #390; }
